<div class="container">
  <div class="row">
    <div class="col-md-6 col-8 mt-4">
      <button type="button" #requestingElevationData class="btn btn-primary w-100"
        [disabled]="elevationLoading$ | async" (click)="requestElevationData()">
        <span *ngIf="!(elevationLoading$ | async); else loading">request elevation data</span>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </ng-template>
      </button>
    </div>

    @defer (on interaction(requestingElevationData)) {
    <div class="col-12 my-2">
      <elevation-chart />
    </div>
    <div class="col-md-6 col-12 my-2">
      <elevation-average />
    </div>
    <div class="w-100"></div>
    <div class="col-md-6 col-12 my-2">
      <elevation-max-height />
    </div>
    }

    <div *ngIf="elevationLoadingFailed$ | async" class="col-12 alert alert-danger container__elevation--error">
      The loading of the elevation data has failed. Please try again.
    </div>
  </div>
</div>